<div *ngIf='selectPlayer; then game else selectMenu'>
</div>
<div class='container'>
  <ng-template #selectMenu>
    <p>Choose your Hero ...</p>
    <div class='row' *ngIf='heroes'>
      <div class=' mx-auto'>
        <p>{{heroes[560].name}}</p>
        <img (click)='getPerso(560)' src="{{heroes[560].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[550].name}}</p>
        <img (click)=' getPerso(550) ' src="{{heroes[550].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[540].name}}</p>
        <img (click)='getPerso(540)' src="{{heroes[540].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[530].name}}</p>
        <img (click)=' getPerso(530) ' src="{{heroes[530].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[520].name}}</p>
        <img (click)='getPerso(520)' src="{{heroes[520].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[510].name}}</p>
        <img (click)=' getPerso(510) ' src="{{heroes[510].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[500].name}}</p>
        <img (click)='getPerso(500)' src="{{heroes[500].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[490].name}}</p>
        <img (click)=' getPerso(490) ' src="{{heroes[490].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[480].name}}</p>
        <img (click)='getPerso(480)' src="{{heroes[480].images.sm}}" />
      </div>
      <div class='mx-auto'>
        <p>{{heroes[470].name}}</p>
        <img (click)='getPerso(470) ' src="{{heroes[470].images.sm}}" />
      </div>
    </div>
  </ng-template>

  <ng-template #game>
    <div class='row mx-auto'>
      <div class='offset-2 col-2'>
        <p>You</p>
        <img src='{{selectPlayer.images.sm}} ' />
        <p>vie : {{healthPlayer}}/100</p>
        <button (click)='usePower()'>Power</button>
        <button (click)='useStrength()'>Attack</button>

      </div>

      <div class='offset-2 col-2'>
        <p>Your enemy</p>
        <img src='{{selectIa.images.sm}} ' />
        <p>vie :{{healthIa}} /100</p>
      </div>
    </div>
  </ng-template>
</div>