<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<div class="container">
  <div class="row">
    <button routerLink="/test" routerLinkActive="active" id='butOne' class="mx-auto butOne">Play</button>

  </div>
  <div class="row rules">
    <div>
      <h1>Rules</h1>
      <p>Welcome to the new superhero game fighting !</p>
      <p>Choose your hero among the top ten and then start a fight with a random enemy</p>
      <p>With a health up to 500 life points, you can overthrow your opponent by using your powers or just attacking with anger</p>
      <p>Make your enemy's life points down to 0 / 500 and YOU WIN !</p>
    </div>
  </div>
  <nav class="fixed-bottom">
    <div>
      <span>Hackathon Project 05-04-2018 - </span>
      <span>Wild Code School session Feb 2018 - </span>
      <span>Leveque Jordan and Anna Flourou</span>
    </div>
  </nav>
</div>